<div id="yoreme--navbar">
    <img src="assets/images/logo-02.png" alt="" style="width: 15%;" loading="lazy">
</div>

<main class="yoreme--container">
    <!-- <div class="yoreme-video-card">
        <div *ngIf="!isCompleteLoading" class="yoreme--video-loading">
            <i class="fas fa-spinner fa-spin"></i>
        </div>
        <div *ngIf="isCompleteLoading" class="yoreme--info-card" [class.hideVideo]="!isShowCardVideo" (mouseenter)="onMouseEnter()"
            (mouseleave)="onMouseLave()">
            <img src="assets/images/logo-02.png" alt="" style="width: 50%;" loading="lazy">
            <div class="yoreme-play-items">
                <i [class]="'fa fa-'+primaryIcon" (click)='playVideo();'></i>
                <i [class]="'fas fa-'+volumenIcon" (click)='muteVideo()'></i>
            </div>
            <i class="fas fa-long-arrow-alt-down animate__animated animate__fast animate__infinite animate__pulse"></i>
        </div>

        <video id="yoreme--videos" class="media-document audio iPhone" loop preload="auto" muted playsinline>
            <source src="https://reservaespecialyoreme.com/assets/videos/RESERVA%20ESPECIAL_V2.mp4" type="video/mp4" />
            <source src="https://reservaespecialyoreme.com/assets/videos/RESERVA%20ESPECIAL_V2.webm" type="video/webm" />
        </video>
    </div>
     -->
    <div class="yoreme-video-card">

        <!-- <iframe width="100%" height="600px" src="https://www.youtube-nocookie.com/embed/aLqlzdo8eE8?version=3&loop=1&playlist=aLqlzdo8eE8&rel=0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
         -->
        <div style="padding:56.25% 0 0 0;"><iframe
                src="https://player.vimeo.com/video/613042044?h=835ddfc3fb&autoplay=1&loop=1&title=0&byline=0&portrait=0"
                style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
        <script src="https://player.vimeo.com/api/player.js"></script>

    </div>

    <div class="yoreme-content-1">
        <div class="yc-sec-1 wow bounceInLeft">
            <img src="assets/images/bloque-s101.png" alt="" loading="lazy">
        </div>
        <div class="yc-sec-2 wow bounceInRight">
            <img src="assets/images/bloque-s102.png" alt="" loading="lazy">
            <p>
                “Cual magia es el sentir de provocar y tener el control sobre el fuego desde los tiempos donde la
                humanidad aprendió el dominio de este elemento brillante y abrasador”
            </p>

            <p>
                Nuestra Reserva Especial 2021 está
                inspirada en uno de los actos culinarios más representativos de nuestra región, <b>“La Carne Asada”</b>.
            </p>
        </div>
    </div>
    <div class="yoreme-content-img">
        <img src="assets/images/bloque-s201.png" alt="" loading="lazy">
        <div class="yc-img-info">
            <h3 class="wow bounceInUp">CALIDAD CON GARANTÍA</h3>
            <p class="wow bounceInUp">
                Los cortes más exclusivos, con el grado más alto de marmoleo y suavidad. Cada año seleccionamos nuestra
                mejor reserva de <span class="bold">Rib Eye y New York</span>, para aquellos paladares sofisticados que
                no le
                temen a un sabor muy
                intenso, perfecto para acompañar con un buen vino y disfrutar de una experiencia culinaria inigualable.
            </p>
        </div>
    </div>
    <div class="bloque-3">
        <div class="row">
            <div class="aligned-center text-bloques wow bounceInLeft">
                <h3 style="font-family: zeppelin-42-regular;">COLECCIÓN</h3>
                <p>Descubre nuestra colección de Reservas Especiales,
                    vestidas con
                    obras de arte exclusivas que transmiten la
                    esencia de nuestra región, realizadas por artistas reconocidos.</p>
            </div>
            <div class="col-md-4 center-card" *ngFor="let collection of this.dataCollections">
                <div class="card-b3 wow bounceInRight">
                    <img src={{collection.image}} alt="" width="100%" />
                    <br><br>
                    <h4 style="font-family: manrope-semibold;">{{collection.edition}}</h4>
                    <h6 style="font-family: manrope-light;">{{collection.title}}</h6>
                    <h6 style="font-family: manrope-light;">Autor: {{collection.autor}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="bloque-4" style="display: none;">
        <div class="row">
            <div class="col-md-4 center-card wow bounceInLeft">
                <div class="card-b4">
                    <h3 style="font-family: manrope-semibold;">Agustin Covarrubias</h3>
                    <img src="assets/images/triangles-decoration.png" alt="" width="100%" loading="lazy" />
                    <br><br>
                    <p class="card-text">
                        <strong>Carne de calidad mundial.</strong> <br>
                        De las mejores experiencias gastronómicas a la parrilla, su brillante color rojo impacta y
                        enamora al comensal, gracias a su perfecto marmoleo obliga al corte a tener una suavidad y sabor
                        espectacular, sin duda alguna la experiencia Yoreme coloca a Sonora como referencia en calidad
                        de carne.
                    </p>
                </div>
            </div>
            <div class="col-md-4 center-card wow bounceInUp">
                <div class="card-b4">
                    <h3 style="font-family: manrope-semibold;">Alberto Borquez</h3>
                    <img src="assets/images/triangles-decoration.png" alt="" width="100%" loading="lazy" />
                    <br><br>
                    <p class="card-text">Me sorprendió la calidad, los sabores tan definidos y una textura suave.
                        Dificilmente se
                        encontrará algo con ese nivel. <strong>Sin duda es la carne de México.</strong></p>
                </div>
            </div>
            <div class="col-md-4 center-card wow bounceInRight">
                <div class="card-b4">
                    <h3 style="font-family: manrope-semibold;">Fausto Alcalá</h3>
                    <img src="assets/images/triangles-decoration.png" alt="" width="100%" loading="lazy" />
                    <br><br>
                    <p class="card-text">Los cortes son de primer nivel, la caja de la Reserva es una completa obra de
                        arte y lo
                        mejor es la experiencia de tener un producto de <strong>calidad incomparable.</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="bloque-5">
        <div class="row">
            <div class="col-md-6 aligned-center wow bounceInRight">
                <img src="assets/images/seller.png" alt="" width="40%" loading="lazy" />
            </div>
            <div class="col-md-6 aligned-center wow bounceInLeft">
                <h2 class="text-black" style="font-family: zeppeling-42-regular;">UNA RESERVA ESPECIAL PARA
                    CLIENTES
                    ESPECIALES
                </h2>
                <p class="text-black">Para adquirir tu Reserva Especial
                    2021 puedes contactarnos por medio de Whatsapp ó puedes visitarnos en nuestra sucursal:</p>
                <strong>Blvd. Luis Donaldo Colosio Murrieta #887, La Encantada, Plaza Encantada, Hermosillo,
                    Son.</strong>
                <div class="container-button">
                    <a class="fab fa-whatsapp button border-button-whatsapp" target="_blank"
                        href="https://wa.me/+5216441453043/">
                        Mandar
                        mensaje</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bloque-6">
        <div class="row">
            <div class="col-md-6 aligned-center wow bounceInUp">
                <img src="assets/images/pre-catalogo-3.png" alt="" width="100%" loading="lazy" />
            </div>
            <div class="col-md-6 aligned-center wow bounceInUp">
                <h2 class="text-white" style="font-family: zeppeling-42-regular;">SELECCIÓN EXCLUSIVA</h2>
                <p class="text-white">Te presentamos nuestro catálogo de
                    reservas,
                    en el
                    cual podrás seleccionar tu corte de
                    nuestra selección de Rib Eye y New York</p>
                <div class="container-button">
                    <a class="fa fa-download button border-button" target="_blank"
                        href="https://drive.google.com/drive/folders/1xV4dfm9gqWgC9nfbPzZ3lI66sCEIzJH1?usp=sharing">
                        Descargar
                        catálogo</a>
                </div>
            </div>
        </div>
    </div>
</main>
