<div id="yoreme--navbar">
    <img src="assets/images/logo-02.png" alt="" style="width: 15%;">
</div>

<main class="yoreme--container">
    <div class="yoreme-video-card">
        <div class="yoreme--info-card">
            <img src="assets/images/logo-02.png" alt="" style="width: 50%;">
            <div class="yoreme-play-items">
                <i [class]="'fa fa-'+primaryIcon" (click)='playVideo(); masterPause = !masterPause;'></i>
                <!-- <i class="fa fa-pause" (click)='pauseVideo()'></i> -->
                <i [class]="'fas fa-'+volumenIcon" (click)='muteVideo()'></i>
            </div>
            <i class="fas fa-long-arrow-alt-down animate__animated animate__fast animate__infinite animate__pulse"></i>
        </div>

        <video loop id="yoreme--videos">
            <source src="assets/videos/RESERVA_ESPECIAL.mp4" type="video/mp4">
        </video>
    </div>

    <div class="yoreme-content-1">
        <div class="yc-sec-1 wow bounceInLeft">
            <img src="assets/images/bloque-s101.png" alt="">
        </div>
        <div class="yc-sec-2 wow bounceInRight">
            <img src="assets/images/bloque-s102.png" alt="">
            <p>
                “Cual magia es el sentir de provocar y tener el control sobre el fuego desde los tiempos donde la
                humanidad aprendió el dominio de este elemento brillante y abrasador”
            </p>

            <p>
                Nuestra Reserva Especial 2021 está
                inspirada en uno de los actos culinarios más representativos de nuestra región, <b>“La Carne Asada”</b>.
            </p>
        </div>
    </div>

    <div class="yoreme-content-img">
        <img src="assets/images/bloque-s201.png" alt="">
        <div class="yc-img-info">
            <h3>CALIDAD CON GARANTÍA</h3>
            <p>
                Los cortes más exclusivos, con el grado más alto de marmoleo y suavidad. Cada año seleccionamos nuestra
                mejor reserva de <span class="bold">Rib Eye y New York</span>, para aquellos paladares sofisticados que
                no le
                temen a un sabor muy
                intenso, perfecto para acompañar con un buen vino y disfrutar de una experiencia culinaria inigualable.
            </p>
        </div>
    </div>

    <div class="bloque-3">
        <div class="row">
            <div class="aligned-center text-bloques">
                <h3 style="font-family: zeppelin-42-regular;">COLECCIÓN</h3>
                <p>Descubre nuestra colección de Reservas Especiales,
                    vestidas con
                    obras de arte exclusivas que transmiten la
                    esencia de nuestra región, realizadas por artistas reconocidos.</p>
            </div>
            <div class="col-md-4 center-card" *ngFor="let collection of this.dataCollections">
                <div class="card-b3">
                    <img src={{collection.image}} alt="" width="100%" />
                    <br><br>
                    <h4 style="font-family: manrope-semibold;">{{collection.edition}}</h4>
                    <h6 style="font-family: manrope-light;">{{collection.title}}</h6>
                    <h6 style="font-family: manrope-light;">Autor: {{collection.autor}}</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="bloque-4">
        <div class="row">
            <div class="col-md-4 center-card" *ngFor="let rate of dataRate">
                <div class="card-b4">
                    <h3 style="font-family: manrope-semibold;">{{rate.name}}</h3>
                    <h5 style="font-family: manrope-light;">{{rate.occupation}}</h5>
                    <img src="assets/images/triangles-decoration.png" alt="" width="100%" />
                    <br><br>
                    <h4 style="font-family: manrope-bold;">{{rate.title}}</h4>
                    <p class="card-text">{{rate.opinion}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bloque-5">
        <div class="row">
            <div class="col-md-6 aligned-center">
                <img src="assets/images/seller.png" alt="" width="40%" />
            </div>
            <div class="col-md-6 aligned-center">
                <h2 class="text-black" style="font-family: zeppeling-42-regular;">UNA RESERVA ESPECIAL PARA
                    CLIENTES
                    ESPECIALES
                </h2>
                <p class="text-black">Para adquirir tu Reserva Especial
                    2021
                    contacta a
                    nuestra representante de ventas Ailed
                    Álvarez Alvarado por medio de Whatsapp</p>
                <div class="container-button">
                    <a class="fab fa-whatsapp button border-button-whatsapp"
                        href="https://wa.me/+526441000305/?text=Hola está es una prueba desde el botón de la landing">
                        Mandar
                        mensaje</a>
                </div>
            </div>
        </div>
    </div>

    <div class="bloque-6">
        <div class="row">
            <div class="col-md-6 aligned-center">
                <img src="assets/images/pre-catalogo-2.png" alt="" width="100%" />
            </div>
            <div class="col-md-6 aligned-center">
                <h2 class="text-white" style="font-family: zeppeling-42-regular;">SELECCIÓN EXCLUSIVA</h2>
                <p class="text-white">Te presentamos nuestro catálogo de
                    reservas,
                    en el
                    cual podrás seleccionar tu corte de
                    muestra selección de Rib Eye y New York</p>
                <div class="container-button">
                    <a class="fa fa-download button border-button"
                        href="https://drive.google.com/drive/folders/1_KuOoDFLl6cXTKyFjDG3FY1AAiBZMoXF?usp=sharing">
                        Descargar
                        catálogo</a>
                </div>
            </div>
        </div>
    </div>

</main>
